<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Question</title>
</head>

<body>
    <div>
        {% for msg in get_flashed_messages() %}
        <p>{{ msg }}</p>
        {% endfor %}
    </div>
    <div>
        {{ question }}
    </div>

    <form action="/answer" method="POST">
        {% for choice in choices %}
        <input type="radio" name="{{ index }}" value="{{ choice }}"> {{ choice }} <br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>


</body>

</html>